/* Importam fontul Inter de pe Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Setam culorile de baza pentru Dark Mode */
  background-color: #1A202C; /* Fundal Principal */
  color: #E2E8F0; /* Text Principal */
}